df-messenger{
    --df-messenger-bot-message: #dbdbdb;
   --df-messenger-button-titlebar-color: #3C0D99;
   --df-messenger-chat-background-color: #fafafa;
   --df-messenger-font-color: black;
   --df-messenger-send-icon: #878fac;
   --df-messenger-user-message: #d5beff;
}