df-messenger{
    --df-messenger-bot-message:#e9e0fb;
    --df-messenger-button-titlebar-color: #4d1bb0;
    --df-messenger-chat-background-color: #fafafa;
    --df-messenger-font-color: black;
    --df-messenger-send-icon: #878fac;
    --df-messenger-user-message:  #d2c1f9;
 }